__pycache__/
.venv
foldseek/
tmalign/
stored_proteins/
PDBproteins/
pdb
pdb_ca
pdb_ca.dbtype
pdb_ca.index
pdb_clu
pdb_clu.dbtype
pdb_clu.index
pdb_h
pdb_h.dbtype
pdb_h.index
pdb_mapping
pdb_seq_ca.1
pdb_seq_ca.dbtype
pdb_seq_ca.index
pdb_seq_h.1
pdb_seq_h.dbtype
pdb_seq_h.index
pdb_seq_ss.1
pdb_seq_ss.dbtype
pdb_seq_ss.index
pdb_seq.1
pdb_seq.dbtype
pdb_seq.index
pdb_ss
pdb_ss.dbtype
pdb_ss.index
pdb_taxonomy
pdb.dbtype
pdb.index
pdb.lookup
pdb.source
pdb.version
