/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--darkblue: hsla(205, 57%, 23%, 1);
	--lightblue: hsla(198, 41%, 54%, 1);
	--darkorange: hsla(27, 77%, 55%, 1);
	--lightorange: hsla(38, 83%, 60%, 1);
}
